[Unit]
Description=s3-scality Service
Requires=docker.service
After=docker.service platform_poll.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker-service-stop.sh s3-scality.yml
ExecStartPre=-/usr/bin/docker  rm -f s3-scality.service.strato
ExecStartPre=/usr/bin/nsenter -m -t 1 -- /usr/bin/s3-scality-wrapper.py --pre
ExecStart=/usr/bin/docker-service-start.sh s3-scality.yml s3-scality.stratolog
ExecStop=/usr/bin/docker-service-stop.sh s3-scality.yml
ExecStopPost=/usr/bin/nsenter -m -t 1 -- /usr/bin/s3-scality-wrapper.py --post
PrivateTmp=true

[Install]
WantedBy=multi-user.target
