{
  "installationType": "controller",
  "monitoring": {"interval": "30s", "script": "/usr/bin/s3-scality-health.py"},
  "watchdog_mode": "logical",
  "grace_period": 180,
  "group": "Cloud Storage",
  "starting_grace_period": 180,
  "failure_grace_period": 190
}

